@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
    --color-primary: rgb(12, 77, 162);
    /* --color-primary: #6c9bcf; */
    --color-danger: #ff0060;
    --color-success: #1b9c85;
    --color-warning: #f7d060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}
.container2 {
    margin-left: 20px;
    display: grid;
    margin-top: 80px;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    height: 88%;
    width: 97%;
    color: var(--color-dark);
}

/* main container2 */
.back_button h1 {
    font-family: "Eras ITC", "Eras Light ITC", sans-serif;
    font-weight: 500;
    display: inline-block;
}
.container2 .note h3 {
    font-size: 14px;
    margin-top: 20px;
    padding: 4px;
    color: rgb(40, 13, 174);
}
main,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}
.form-group label {
    font-family: "Eras ITC", "Eras Light ITC", sans-serif;
    font-size: 18px;
    /* border-radius: 20px; */
    overflow-y: auto;
}
main {
    width: 138%;
    font-family: "Eras ITC", "Eras Light ITC", sans-serif;
    background-color: var(--color-background);
    color: var(--color-dark);
    margin-top: 40px;
    padding: 0;
}

.back_button a {
    color: rgb(12, 77, 162);
}
.container2 h1 {
    font-size: 24px;
    font-weight: bold;
}

.container2 h2 {
    font-size: 20px;
    font-weight: bold;
}

.container2 h3 {
    font-size: 18px;
    font-weight: bold;
}

.container2 p {
    font-size: 16px;
    line-height: 1.5;
}

.container2 ul {
    list-style-type: disc;
}

.container2 li {
    margin: 5px 0;
}

/* Apply styles to links */
.container2 a {
    text-decoration: none;
    color: var(--color-primary);
}

.container2 label[for="searchTerm"] {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container2 input[name="searchTerm"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.container2 .btn {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: var(--border-radius-1);
    cursor: pointer;
}
.table-container {
    height: 460px;
    /* max-height: 10%; */
    overflow-y: auto;
}
.container2 .card-header a {
    margin-right: 20px;
    color: rgb(12, 77, 162);
}
.container2 .card-header h2 {
    text-align: center;
    margin-right: 20px;
    color: var(--color-dark);
}
.container2 .btn.btn-info {
    background-color: rgb(196, 160, 6);
    color: var(--color-white);
    border: none;
    border-radius: var(--border-radius-1);
    padding: 10px 20px;
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: rgb(12, 77, 162);
    color: var(--color-white);
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: var(--color-light);
}

td {
    font-size: 13px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

.container2 a:hover {
    text-decoration: underline;
}

.container2 .container {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 20px;
}

.container2 .card {
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: var(--card-padding);
    margin: 20px 0;
}

.container2 .dark-mode {
    background-color: var(--color-dark);
    color: var(--color-white);
}
