:root {
    --color-primary: rgb(12, 77, 162);
    /* --color-primary: #6c9bcf; */
    --color-danger: #ff0060;
    --color-success: #1b9c85;
    --color-warning: #f7d060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #ffffff;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.card-body h1 {
    font-size: 22px;
}
.card-body h2 {
    margin-bottom: 10px;
    font-size: 18px;
}
.todo-button {
    display: grid;
}

.todo-button button {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin-top: 3px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-background);
    color: black;
}
.todo-button button:hover {
    border: none;
    background-color: #f0f0f0;
}
.tags-button {
    display: grid;
}
.tags-button button {
    font-weight: 600;
    text-align: left;
    margin-top: 3px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-background);
    color: black;
}
.tags-button button:hover {
    border: none;
    background-color: #f0f0f0;
}

.tags-button .in-progress {
    color: rgb(12, 77, 162);
}
.tags-button .pending {
    color: rgb(197, 162, 6);
}
.tags-button .closed {
    color: red;
}
.card-body .add-button {
    width: 30vh;
    height: 5vh;
    color: white;
    margin-top: 20px;
    border-radius: 6px;
    border: none;
    background-color: rgb(12, 77, 162);
}
.button-save {
    color: white;
    border-radius: 6px;
    border: none;
    height: 4.5vh;
    width: 15vh;
    background-color: rgb(197, 162, 6);
}

.todo-button button {
    transition: background-color 0.3s ease;
}

/* Add styles for active button */
.todo-button button.active {
    background-color: #f0f0f0;
}

.status1 {
    text-align: center;
    background-color: rgb(197, 162, 6);
    border-radius: 20px;
    width: 10vh;
    border: none;
    color: rgb(255, 255, 255);
}

.star {
    padding: none;
    visibility: hidden;
    font-size: 25px;
    cursor: pointer;
}
.star:before {
    color: rgb(197, 162, 6);
    content: "\2605";
    position: absolute;
    visibility: visible;
}
.star:checked:before {
    content: "\2606";
    position: absolute;
}

/* view content */
/* Style for modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1060;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    outline: 0;
}

.modal-header {
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-footer {
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    background-color: #f9f9f9;
}

/* Style for modal backdrop */
.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
