.circle80-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.circle100-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.circle30-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.circle45-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.circle36-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
